# Dependencies
/node_modules

# Build artifacts
/dist
/dist-electron

# Executables
*.exe
*.dll
*.pak
*.bin
*.dat
*.pdb
*.icns
*.ico

# Other
.DS_Store
*.log
.npmrc
.yarnrc
*.zip
*.nupkg
*.dmg
*.asar
*.deb
*.rpm
*.snap
*.AppImage

# Inno Setup
*.iss
innosetup-*.exe

# Python
*.pyc
__pycache__/
*.spec

# IDE files
.idea/
*.suo
*.user
*.sln
*.vs/